# Copyright (C) 2020 Dremio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI build

on:
  push:
    branches:
      - main
      - release-*
  pull_request:

# For the main branch: let all CI runs complete, one after the other. This has a couple advantages:
# * Site deployments happen in commit-order
# * Saved Gradle cache are persisted in commit-order
# * (Potentially) more GH runners available for PRs
concurrency:
  # PRs: 1 CI run concurrently / older ones are cancelled
  # main branch: 1 CI run concurrently / all commits / no cancellation
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:

  # Test against latest Nessie release against the Python version matrix
  python:
    name: CI Python
    runs-on: ubuntu-22.04
    env:
      NESSIE_TEST_IMAGE: 'ghcr.io/projectnessie/nessie:latest'
    strategy:
      # Python CI is relatively quick, don't parallelize to reduce number of concurrent jobs,
      # respecting GitHub's concurrent jobs limit.
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11'] # 3.8 first, it has "all the tox envs"
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Setup Python
        uses: ./.github/actions/dev-tool-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Test with tox
        run: tox
      - name: Just show images
        run: docker image ls

  # Test against various Nessie releases incl SNAPSHOT
  nessie-snapshot:
    name: CI Nessie Image
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        nessie-image:
            - 'ghcr.io/projectnessie/nessie-unstable:latest'
            - 'ghcr.io/projectnessie/nessie:0.63.0'
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Setup Python
        uses: ./.github/actions/dev-tool-python
        with:
          python-version: 3.8
      - name: Test with tox
        env:
          NESSIE_TEST_IMAGE: ${{ matrix.nessie-image }}
        run: tox
      - name: Just show images
        run: docker image ls
